<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            -- {{> _alert }}
            <form class="user" method="post" action="/admin/register">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="col-sm-6">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Repeat Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register Account
                </button>
            </form>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center">
                <a class="small" href="#">Forgot Password?</a>
            </div>
            <div class="text-center">
                <a class="small" href="/admin/login">Already have an account? Login!</a>
            </div>
        </div>
    </div>
</div>