{{> header }}
    <!-- Main Content -->
    <div id="content">

        {{> top-nav-bar }}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            {{ body }}

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{{> footer }}